Misc/NodeRedFlows.json
[{"id":"9fbda02c47eaee61","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"fbcab67b93a0d1b3","type":"mqtt in","z":"9fbda02c47eaee61","name":"PZEM Telemetry (All Sockets)","topic":"telemetry/+/pzem","qos":"0","datatype":"json","broker":"c2b1f8d4e9a3c110","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":140,"wires":[["d9f1c7e2a4b3d8c1"]]},{"id":"d9f1c7e2a4b3d8c1","type":"function","z":"9fbda02c47eaee61","name":"Format Payload for InfluxDB","func":"// Extract the hostname (Socket ID) from the topic\n// Topic structure: telemetry/Socket-XXXXXX/pzem\nconst topicParts = msg.topic.split('/');\nconst socketId = topicParts[1];\n\n// Format the data as an array: [{fields}, {tags}]\n// This is the format the InfluxDB node requires to separate fields and tags\nmsg.payload = [\n    {\n        voltage: Number(msg.payload.voltage),\n        current: Number(msg.payload.current),\n        activePower: Number(msg.payload.activePower),\n        apparentPower: Number(msg.payload.apparentPower),\n        reactivePower: Number(msg.payload.reactivePower),\n        powerFactor: Number(msg.payload.powerFactor),\n        frequency: Number(msg.payload.frequency),\n        energy: Number(msg.payload.energy)\n    },\n    {\n        socket_id: socketId\n    }\n];\n\n// Set the measurement (table) name in InfluxDB\nmsg.measurement = \"pzem_data\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":140,"wires":[["a1b2c3d4e5f6g7h8"]]},{"id":"a1b2c3d4e5f6g7h8","type":"influxdb out","z":"9fbda02c47eaee61","influxdb":"e3f4g5h6i7j8k9l0","name":"Save to InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1070,"y":140,"wires":[]},{"id":"6a9b1c2d.3e4f5a","type":"mqtt in","z":"9fbda02c47eaee61","name":"Listen to Socket States","topic":"state/+/+","qos":"0","datatype":"json","broker":"c2b1f8d4e9a3c110","nl":false,"rap":false,"inputs":0,"x":560,"y":220,"wires":[["7b8c9d0e.1f2a3b"]]},{"id":"7b8c9d0e.1f2a3b","type":"function","z":"9fbda02c47eaee61","name":"Format for InfluxDB","func":"// Extract socket_id and the metric type (relay, fault, timer)\nconst parts = msg.topic.split('/');\nif (parts.length < 3) return null;\n\nconst socket_id = parts[1];\nconst metric = parts[2];\n\nlet val = 0;\n\n// Convert states to 1 or 0 for graphing\nif (metric === 'relay') {\n    if (msg.payload && msg.payload.state) {\n        val = (msg.payload.state === 'ON') ? 1 : 0;\n    } else return null;\n} else if (metric === 'fault') {\n    if (msg.payload && msg.payload.fault !== undefined) {\n        val = (msg.payload.fault === true || msg.payload.fault === \"true\") ? 1 : 0;\n    } else return null;\n} else if (metric === 'timer') {\n    if (msg.payload && msg.payload.active !== undefined) {\n        val = (msg.payload.active === true || msg.payload.active === \"true\") ? 1 : 0;\n    } else return null;\n} else {\n    return null;\n}\n\n// Construct the InfluxDB payload format\nmsg.payload = [\n    {\n        [metric]: val\n    },\n    {\n        socket_id: socket_id\n    }\n];\n\nmsg.measurement = 'socket_state';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["8c9d0e1f.2a3b4c"]]},{"id":"8c9d0e1f.2a3b4c","type":"influxdb out","z":"9fbda02c47eaee61","influxdb":"e3f4g5h6i7j8k9l0","name":"Write to InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":220,"wires":[]},{"id":"c2b1f8d4e9a3c110","type":"mqtt-broker","name":"Mosquitto (Docker Internal)","broker":"mosquitto","port":"1883","clientid":"NodeRED-Backend","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e3f4g5h6i7j8k9l0","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"energy_monitor","name":"InfluxDB 1.8 (Docker Internal)","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://influxdb:8086","timeout":"10","rejectUnauthorized":true},{"id":"0c452de5220a5cc3","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]